.h1{
    font-family: 'Fruktur', cursive;
}

.div1{
    background-color: black;
    color:white;
}

.copyrightfooter{
    margin-top: 750px;
    background-color: black;
    color:white;
}